name: Build xonsh binary

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-appimage:
    if: github.repository_owner == 'anki-code'
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - name: apt install
        run: apt update && apt install -y curl git vim patchelf elfutils binutils-common binutils

      - name: mamba install
        run: yes | bash -c "$(curl -L https://micro.mamba.pm/install.sh)"


      - name: build
        run: eval "$(/root/.local/bin/micromamba shell hook -s bash)" \
               && micromamba activate base \
               && micromamba install -y -c conda-forge libpython-static==3.11 gcc ccache \
               && pip install xonsh[full] ujson pygments prompt_toolkit pyperclip \
               && xonsh -c '2+2' \
               && pip install git+https://github.com/Nuitka/Nuitka@factory \
               && nuitka --standalone --onefile --static-libpython=yes \
                      --onefile-tempdir-spec='%TEMP%/onefile_%PID%_%TIME%' \
                      --show-progress --show-scons --show-modules \
                      --assume-yes-for-downloads --jobs=2 \
                      --include-package=pip \
                      --include-module=ujson \
                      --include-package=pygments \
                      --include-package=prompt_toolkit \
                      --include-module=pyperclip \
                      --no-deployment-flag=self-execution \
                      /root/micromamba/lib/python3.11/site-packages/xonsh


      - name: Get latest release upload URL
        id: get_release
        uses: actions/github-script@v7
        with:
          script: |
            const { data: release } = await github.rest.repos.getLatestRelease({
              owner: context.repo.owner,
              repo: context.repo.repo
            });
            core.setOutput('upload_url', release.upload_url);
            core.setOutput('tag_name', release.tag_name);

      - name: Upload xonsh binary to latest release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./xonsh.bin
          asset_name: xonsh.bin
          asset_content_type: application/x-executable
